*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    height: 100% !important;
    width: 100% !important;
}

h1 {
    text-align: center;
    color: #6c757d;
    margin-bottom: 0 !important;
}

#form_group_container {
    border-radius: .5rem;
    display: flex;
    justify-content: flex-start;
}

#from_group {
    width: 150px;
}

#crypto_select {
    cursor: pointer;
}

#coinChange1d {
    display: flex;
    align-items: center;
    margin-left: 1rem;
    margin-top: .5rem;
}

#coinSymbol {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
    padding: 5px;
    border-radius: 5px;
}

#coinVolume {
    font-size: large;
}

#chart_container {
    position: relative;
    height: 45% !important;
    width: 90% !important;
}

canvas {
    width: 100% !important;
    height: 100% !important;
}

#percentageLabels {
    display: flex;
    justify-content: flex-start;
}

#percentageLabels p {
    display: none;
    padding: 3px;
    border-radius: 12px;
    font-weight: 600;
}

#coin_volume_div {
    display: flex;
    align-items: flex-end;
}

#coin_main_detail_header {
    gap: 1rem;
}

#coin_main_detail {
    gap: 1rem;
}

@media screen and (max-width: 768px){

    #coin_main_detail {
        display: flex;
        flex-direction: column;
        margin-bottom: .5rem;
    }

}