*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
}

.container {
    background: #ffffff;
    border-radius: 2rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #6c757d;
    margin-bottom: 0 !important;
}

#form-group-container {
    border-radius: .5rem;
    display: flex;
    justify-content: flex-start;
}

#from-group {
    width: 150px;
}

#coinChange1d {
    display: flex;
    align-items: center;
    margin-left: 1rem;
    margin-top: .5rem;
}

#coinSymbol {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
    padding: 5px;
    border-radius: 5px;
}

#chart-container canvas {
    width: 100% !important;
    height: 100% !important;
}

#percentageLabels {
    display: flex;
    justify-content: flex-start;
}
#percentageLabels p {
    display: none;
    padding: 3px;
    border-radius: 12px;
    font-weight: 500;
}

#coin_volume_div{
    display: flex;
    align-items: flex-end;
}

#coin_main_detail_header {
    gap: 1rem;
}



